<?xml version="1.0" encoding="iso-8859-1"?>
<config>
	<appFilePath>c:\inetpub\wwwroot\EmployeeDirectory\models\</appFilePath>
	<appFolder></appFolder>
	<CFCFormat>cfscript</CFCFormat>
	<CreateAppCFC>true</CreateAppCFC>
	<createdOnString>createdOn</createdOnString>
	<CreateEntities>true</CreateEntities>
	<CreateLogin>false</CreateLogin>
	<CreateServices>true</CreateServices>
	<CreateTests>false</CreateTests>
	<CreateViews>true</CreateViews>
	<CSSFileName>screen.css</CSSFileName>
	<cssFilePath>c:\inetpub\wwwroot\EmployeeDirectory\models\css</cssFilePath>
	<cssFolder>css</cssFolder>
	<cssRelativePath>/EmployeeDirectory/models/css</cssRelativePath>
	<customTagFilePath>c:\inetpub\wwwroot\EmployeeDirectory\models\customTags</customTagFilePath>
	<customTagFolder>customTags</customTagFolder>
	<dateformat>mm/dd/yyyy</dateformat>
	<DBCreate>update</DBCreate>
	<depluralize>false</depluralize>
	<EntityCFCPath>EmployeeDirectory.models.cfc</EntityCFCPath>
	<entityFilePath>c:\inetpub\wwwroot\EmployeeDirectory\models\cfc</entityFilePath>
	<entityFolder>cfc</entityFolder>
	<LockApplication>false</LockApplication>
	<LogSQL>true</LogSQL>
	<MakeSuperEntities>false</MakeSuperEntities>
	<MakeSuperSerivces>false</MakeSuperSerivces>
	<mxunitCFCPath>mxunit</mxunitCFCPath>
	<mxunitFilePath>C:\inetpub\wwwroot\mxunit</mxunitFilePath>
	<OverwriteDataModel>false</OverwriteDataModel>
	<ReturnQueriesFromService>false</ReturnQueriesFromService>
	<rootCFCPath>EmployeeDirectory.models</rootCFCPath>
	<rootFilePath>c:\inetpub\wwwroot\EmployeeDirectory\models\</rootFilePath>
	<rootRelativePath>/EmployeeDirectory/models/</rootRelativePath>
	<rootURL>http://IsDevShirakG4/EmployeeDirectory/models</rootURL>
	<selectorThreshold>50</selectorThreshold>
	<serviceAccess>remote</serviceAccess>
	<serviceCFCPath>EmployeeDirectory.models.services</serviceCFCPath>
	<serviceCountMethod>count</serviceCountMethod>
	<serviceDeleteMethod>destroy</serviceDeleteMethod>
	<serviceFilePath>c:\inetpub\wwwroot\EmployeeDirectory\models\services</serviceFilePath>
	<serviceFolder>services</serviceFolder>
	<serviceGetMethod>get</serviceGetMethod>
	<serviceInitMethod>init</serviceInitMethod>
	<serviceListMethod>list</serviceListMethod>
	<serviceListPagedMethod>listPaged</serviceListPagedMethod>
	<ServiceSearchCountMethod>searchCount</ServiceSearchCountMethod>
	<serviceSearchMethod>search</serviceSearchMethod>
	<serviceSearchPagedMethod>searchPaged</serviceSearchPagedMethod>
	<serviceUpdateMethod>update</serviceUpdateMethod>
	<testCFCPath>EmployeeDirectory.models.test</testCFCPath>
	<testFilePath>c:\inetpub\wwwroot\EmployeeDirectory\models\test</testFilePath>
	<testFolder>test</testFolder>
	<testRelativePath>/EmployeeDirectory/models/test</testRelativePath>
	<testURL>http://IsDevShirakG4/EmployeeDirectory/models/test</testURL>
	<timeformat>h:mm tt</timeformat>
	<updatedOnString>updatedOn</updatedOnString>
	<WireOneToManyinViews>true</WireOneToManyinViews>
</config>
