
<div>
    <h4>{{title}}</h4>
    <div class="control-group">
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-search"></i></span>
                <!--<input id="searchfield" type="text" class="span3"
                placeholder="Start typing" style="margin: 0 auto;"
                data-provide="typeahead" data-items="5" ng-model="showEmpDetails"
                >-->
                <typeahead id="searchfield" choice="selection" list="employees" placeholder="Start typing" style="margin: 0 auto;">
                </typeahead> 
            </div>
        </div>
    </div>
    <div class="slidingDiv" id="detailDiv" ng-show="selection.Id > 0" ng-model="emp">
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                     <label class="control-label" id="firstName">First Name: <a href="#/addEditEmp/{{selection.Id}}">{{selection.firstName}}</a></label>
                </div>
				<div class="input-prepend">
                     <label class="control-label" id="lastName">Last Name: {{selection.lastName}}</label>
                </div>
				<div class="input-prepend">
                     <label class="control-label" id="phone">Ext: {{selection.extension}}</label>
                </div>
				<div class="input-prepend">
                     <label class="control-label" id="department">Department: <a href="#/department" >{{selection.Department.name}}</a></label>
                </div>
            </div>
        </div>
    </div>
</div>
